* {
    margin: 0;    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    width: 362px;    height: 600px;
    position: relative;
    border-radius: .4em;
    background-color: steelblue;
    border: .15em solid;
    box-shadow: .1em .1em .1em rgba(0, 0, 0, .1);
}

#ground {
    width: 360px;    height: 500px;
    position: absolute;
    background-color: rgb(158, 227, 255);
    border-right: .15em solid;
    border-bottom: .15em solid;
    border-radius: .4em;
    overflow: hidden;
}
#flappy {
    width: 45px;    height: 40px;
    position: absolute;
    left: 97.5px;
    bottom: 230px;
    background-color: rgb(0, 140, 255);
    border: .15em solid;
    border-radius: .4em;
    z-index: 1;
    transition: all .1s ease;
}
.pipe-top {
    width: 45px;
    position: absolute;
    top: 0;
    background-color: rgb(4, 121, 0);
    border: .15em solid;
    border-bottom: none;
    border-radius: .4em;
    transform: rotate(180deg);
    transition: all .1s ease;
}
.pipe-bottom {
    width: 45px;
    position: absolute;
    bottom: 0;
    background-color: rgb(4, 121, 0);
    border: .15em solid;
    border-bottom: none;
    border-radius: .4em;
    transition: all .1s ease;
}